@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to my app.


<p>I have created a Users Functionality which currently shows the registered users. It allows you to edit or delete an individual users</p>
<br />
<p>I also did the string calculator on this website as well. I have also created unit tests for both the user creation as well as the string calculator.</p>
